ClientFootball/classes/org/tempuri/ServicesService.wsdl

<definitions
     name="ServicesService"
     targetNamespace="http://tempuri.org/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://tempuri.org/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://tempuri.org/" schemaLocation="ServicesPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="list">
        <part name="parameters" element="tns:list"/>
    </message>
    <message name="listResponse">
        <part name="parameters" element="tns:listResponse"/>
    </message>
    <message name="delete">
        <part name="parameters" element="tns:delete"/>
    </message>
    <message name="deleteResponse">
        <part name="parameters" element="tns:deleteResponse"/>
    </message>
    <message name="read">
        <part name="parameters" element="tns:read"/>
    </message>
    <message name="readResponse">
        <part name="parameters" element="tns:readResponse"/>
    </message>
    <message name="create">
        <part name="parameters" element="tns:create"/>
    </message>
    <message name="createResponse">
        <part name="parameters" element="tns:createResponse"/>
    </message>
    <message name="update">
        <part name="parameters" element="tns:update"/>
    </message>
    <message name="updateResponse">
        <part name="parameters" element="tns:updateResponse"/>
    </message>
    <portType name="Services">
        <operation name="list">
            <input message="tns:list"/>
            <output message="tns:listResponse"/>
        </operation>
        <operation name="delete">
            <input message="tns:delete"/>
            <output message="tns:deleteResponse"/>
        </operation>
        <operation name="read">
            <input message="tns:read"/>
            <output message="tns:readResponse"/>
        </operation>
        <operation name="create">
            <input message="tns:create"/>
            <output message="tns:createResponse"/>
        </operation>
        <operation name="update">
            <input message="tns:update"/>
            <output message="tns:updateResponse"/>
        </operation>
    </portType>
    <binding name="ServicesPortBinding" type="tns:Services">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="list">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="read">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="create">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ServicesService">
        <port name="ServicesPort" binding="tns:ServicesPortBinding">
            <soap:address location="http://localhost:7101/ServerFootball-ServerFootball-context-root/ServicesPort"/>
        </port>
    </service>
</definitions>
